<?xml version="1.0" encoding="utf-8"?>
<!-- {{ ansible_managed }} -->

<service>
  <short>Java servlet container (Apache Tomcat, HTTP)</short>
  <description>Open source implementation of the Java Servlet, JavaServer Pages, Java Expression Language and Java WebSocket technologies</description>
  <port protocol="tcp" port="{{ tomcat8_firewall_port_http }}"/>
</service>
