; {{ ansible_managed }}

[tomcat8-http]
title=Java servlet container (Apache Tomcat, HTTP)
description=Open source implementation of the Java Servlet, JavaServer Pages, Java Expression Language and Java WebSocket technologies
ports={{ tomcat8_firewall_port_http }}/tcp
